.head{
    display: flex;
    justify-content: center;
    font-size:xx-large   ;

}
input{
    width: 400px;
}
.message{
    height:200px;
}
.info{
    border: 1px solid black;
    padding: 10px;
    width: 410px;
    margin-right: 100px;
}
i{
    height: 50px;
    width: 50px;
    font-size: 30px;
}
.body{
    font-size: larger;
    display: flex;
    justify-content: center;
}
.icons{
    margin-left: 60px;


}
.navbar{
    display:flex ;
    width: 1350px;
    height: 90px;
    border: 1px solid black;
    justify-content: space-between;
    position: sticky;
    background-color: white;
    top: 0;
    right: 0;
    left: 0;


}
img{
    margin-right: 10px;
}
.navbar-list{
    display:flex;
    list-style-type: none;
    justify-content: flex-end;
 
}
.logo{

    display:flex;
}
.navbar-designation{

    font-size: 20px;
    font-weight: lighter;
}
li{

    margin: 20px;
}